p{
	color:#404040;
}
#header{
	color:#c32017;
	text-align:center;
	text-transform:uppercase;
	border-top-width:2px;
	border-top-style:solid;
	border-top-color:#f9d000;
}
.new{
	color:#6bc5e3;
	font:italic bold 16px Tahoma
}
ul li{
	color:#cc0000;
}
a:link{
	color:#111111;
}
a:visited{
	color:#faa21a;
	
}
a:hover{
	color:#c6216e;
}
a:active{
	color:#22049b;
}
p{
font-family:"Courier New";	
font-size:14px;
text-indent:25px;
line-height:20px;
word-spacing:13px;
letter-spacing:2px;

}
.new2{
	font-style:italic;
}
.new3{
font-weight:bold;
text-decoration:line-through;
}	
a{
	text-decoration:none;
	border-bottom:2 px solid #c6216e
}
ol{
	text-decoration:underline;
}
.new4{
	text-decoration:underline;
}
.new5{
	text-align:justify;
}
ul{
	list-style-image:url(../image/arrow.png);
	list-style-position:inside;
	
}
ul li{
	border:1px solid #cccccc
}
	
	
